In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
FAO_file = "Resources/FAO.csv"

In [3]:
FAO_df = pd.read_csv(FAO_file, low_memory=False)
FAO_df

                                                                                                                                                                                                                                                                                                                                                                                                                                                          FAO
Area Abbreviation Area Code Area        Item Code Item                     Element Code Element Unit        latitude longitude Y1961 Y1962 Y1963 Y1964 Y1965 Y1966 Y1967 Y1968 Y1969 Y1970 Y1971 Y1972 Y1973 Y1974 Y1975 Y1976 Y1977 Y1978 Y1979 Y1980 Y1981 Y1982 Y1983 Y1984 Y1985 Y1986 Y1987 Y1988 Y1989 Y1990 Y1991 Y1992 Y1993 Y1994 Y1995 Y1996 Y1997 Y1998 Y1999 Y2000 Y2001 Y2002 Y2003 Y2004 Y2005 Y2006 Y2007 Y2008 Y2009 Y2010 Y2011 Y2012  Y2013
AFG               2         Afghanistan 2511      Wheat and products       5142         Food    1000 tonnes 33.94    67.71     1928  1904  1666  1950  2001  1808  2053  2045  2154  1819  1963  2215  2310  2335  2434  2512  2282  2454  2443  2129  2133  2068  1994  1851  1791  1683  2194  1801  1754  1640  1539  1582  1840  1855  1853  2177  2343  2407  2463  2600  2668  2776  3095  3249  3486  3704  4164  4252  4538  4605  4711  4810    4895
                                        2805      Rice (Milled Equivalent) 5142         Food    1000 tonnes 33.94    67.71     183   183   182   220   220   195   231   235   238   213   205   233   246   246   255   263   235   254   270   259   248   217   217   197   186   200   193   202   191   199   197   249   218   260   319   254   326   347   270   372   411   448   460   419   445   546   455   490   415   442   476   425      422
                                        2513      Barley and products      5521         Feed    1000 tonnes 33.94    67.71     76    76    76    76    76    75    71    72    73    74    71    70    72    76    77    80    60    65    64    64    60    55    53    51    48    46    46    47    46    43    43    40    50    46    41    44    50    48    43    26    29    70    48    58    236   262   263   230   379   315   203   367      360
                                                                           5142         Food    1000 tonnes 33.94    67.71     237   237   237   238   238   237   225   227   230   234   223   219   225   240   244   255   185   203   198   202   189   174   167   160   151   145   145   148   145   135   132   120   155   143   125   138   159   154   141   84    83    122   144   185   43    44    48    62    55    60    72    78        89
...                                                                                                                                                                                                                                                                                                                                                                                                                                                       ...
ZWE               181       Zimbabwe    2948      Milk - Excluding Butter  5142         Food    1000 tonnes -19.02   29.15     230   232   234   238   234   231   231   248   264   255   306   322   343   337   358   379   397   380   390   393   391   399   396   385   381   372   384   366   381   374   313   368   297   265   222   290   339   460   364   380   439   360   386   373   357   359   356   341   385   418   457   426      451
                                        2960      Fish, Seafood            5521         Feed    1000 tonnes -19.02   29.15     27    25    27    23    27    29    28    28    25    25    25    23    23    20    19    11    8     7     5     6     7     6     6     12    0     6     3     4     3     0     1     1     0     2     9     7     7     4     7     7     5     1     0     5     4     9     6     9     5     15    15    15        15
                                                                           5142         Food    1000 tonnes -19.02   29.15     6     6     6     8     9     10    10    10    10    9     9     10    10    9     8     8     9     10    12    20    20    20    15    17    18    20    20    23    24    26    22    24    33    38    39    39    37    29    25    26    18    16    14    18    14    17    14    15    18    29    40    40        40
                                        2961      Aquatic Products, Other  5142         Food    1000 tonnes -19.02   29.15     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0          0
                                        2928      Miscellaneous            5142         Food    1000 tonnes -19.02   29.15     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0          0

[21478 rows x 1 columns]

In [4]:
new_FAO_df = FAO_df.reset_index()

In [5]:
new_header = new_FAO_df.iloc[0] 
new_FAO_df = new_FAO_df[1:] 
new_FAO_df.columns = new_header
new_FAO_df

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
1,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,...,3249,3486,3704,4164,4252,4538,4605,4711,4810,4895
2,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,...,419,445,546,455,490,415,442,476,425,422
3,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,...,58,236,262,263,230,379,315,203,367,360
4,AFG,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,...,185,43,44,48,62,55,60,72,78,89
5,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,...,120,208,233,249,247,195,178,191,200,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21473,ZWE,181,Zimbabwe,2948,Milk - Excluding Butter,5142,Food,1000 tonnes,-19.02,29.15,...,373,357,359,356,341,385,418,457,426,451
21474,ZWE,181,Zimbabwe,2960,"Fish, Seafood",5521,Feed,1000 tonnes,-19.02,29.15,...,5,4,9,6,9,5,15,15,15,15
21475,ZWE,181,Zimbabwe,2960,"Fish, Seafood",5142,Food,1000 tonnes,-19.02,29.15,...,18,14,17,14,15,18,29,40,40,40
21476,ZWE,181,Zimbabwe,2961,"Aquatic Products, Other",5142,Food,1000 tonnes,-19.02,29.15,...,0,0,0,0,0,0,0,0,0,0
21477,ZWE,181,Zimbabwe,2928,Miscellaneous,5142,Food,1000 tonnes,-19.02,29.15,...,0,0,0,0,0,0,0,0,0,0

In [6]:
new_FAO_df = new_FAO_df.set_index('Area')

In [7]:
new_FAO_df.drop(columns=['Area Code','Item Code','Element Code','Unit','latitude','longitude'],inplace=True)

In [12]:
new_FAO_df.drop(new_FAO_df.columns[3:42],axis=1,inplace=True)

In [17]:
new_FAO_df.drop(new_FAO_df.columns[4:13],axis=1,inplace=True)

In [21]:
new_FAO_df.drop(new_FAO_df.columns[5:8],axis=1,inplace=True)

In [57]:
new_FAO_df.Item.unique()

array(['Wheat and products', 'Rice (Milled Equivalent)',
       'Barley and products', 'Maize and products', 'Millet and products',
       'Cereals, Other', 'Potatoes and products', 'Sugar cane',
       'Sugar beet', 'Sugar (Raw Equivalent)', 'Sweeteners, Other',
       'Honey', 'Pulses, Other and products', 'Nuts and products',
       'Coconuts - Incl Copra', 'Sesame seed',
       'Olives (including preserved)', 'Soyabean Oil', 'Groundnut Oil',
       'Sunflowerseed Oil', 'Rape and Mustard Oil', 'Cottonseed Oil',
       'Palm Oil', 'Sesameseed Oil', 'Olive Oil', 'Oilcrops Oil, Other',
       'Tomatoes and products', 'Vegetables, Other',
       'Oranges, Mandarines', 'Citrus, Other', 'Bananas',
       'Apples and products', 'Pineapples and products', 'Dates',
       'Grapes and products (excl wine)', 'Fruits, Other',
       'Coffee and products', 'Cocoa Beans and products',
       'Tea (including mate)', 'Pepper', 'Spices, Other', 'Wine', 'Beer',
       'Beverages, Alcoholic', 'Bovine Meat', 'Mutton & Goat Meat',
       'Poultry Meat', 'Meat, Other', 'Offals, Edible', 'Butter, Ghee',
       'Cream', 'Fats, Animals, Raw', 'Eggs', 'Milk - Excluding Butter',
       'Freshwater Fish', 'Infant food', 'Cereals - Excluding Beer',
       'Starchy Roots', 'Sugar Crops', 'Sugar & Sweeteners', 'Pulses',
       'Treenuts', 'Oilcrops', 'Vegetable Oils', 'Vegetables',
       'Fruits - Excluding Wine', 'Stimulants', 'Spices',
       'Alcoholic Beverages', 'Meat', 'Offals', 'Animal fats',
       'Fish, Seafood', 'Miscellaneous', 'Rye and products', 'Oats',
       'Sorghum and products', 'Cassava and products', 'Sweet potatoes',
       'Roots, Other', 'Beans', 'Peas', 'Soyabeans',
       'Groundnuts (Shelled Eq)', 'Rape and Mustardseed',
       'Oilcrops, Other', 'Maize Germ Oil', 'Onions',
       'Lemons, Limes and products', 'Grapefruit and products',
       'Plantains', 'Pimento', 'Beverages, Fermented', 'Pigmeat',
       'Fish, Body Oil', 'Fish, Liver Oil', 'Demersal Fish',
       'Pelagic Fish', 'Marine Fish, Other', 'Crustaceans', 'Cephalopods',
       'Molluscs, Other', 'Aquatic Animals, Others', 'Aquatic Plants',
       'Aquatic Products, Other', 'Palm kernels', 'Coconut Oil', 'Cloves',
       'Palmkernel Oil', 'Yams', 'Sunflower seed', 'Cottonseed',
       'Sugar non-centrifugal', 'Ricebran Oil', 'Meat, Aquatic Mammals'],
      dtype=object)

In [58]:
new_FAO_df = new_FAO_df.loc[new_FAO_df["Element"] == "Food", :]

In [60]:
Meat_FAO_df = new_FAO_df.loc[new_FAO_df["Item"] == "Meat", :]
Sugar_FAO_df = new_FAO_df.loc[new_FAO_df["Item"] == "Sugar & Sweeteners", :]
Wheat_FAO_df = new_FAO_df.loc[new_FAO_df["Item"] == "Wheat and products", :]
Fish_FAO_df = new_FAO_df.loc[new_FAO_df["Item"] == "Fish, Seafood", :]
Veg_FAO_df = new_FAO_df.loc[new_FAO_df["Item"] == "Vegetables", :]

In [88]:
Meat_FAO_df.drop(columns=['Area Abbreviation','Item','Element'],inplace=True)
Meat_FAO_df.columns=['Y2000_Meat','Y2010_Meat']
Meat_FAO_df.rename_axis(index={'Area': 'country'})

                                   Y2000_Meat Y2010_Meat
country
Afghanistan                               319        369
Albania                                    89        186
Algeria                                   583        680
Angola                                    234        550
Antigua and Barbuda                         5          7
...                                       ...        ...
Venezuela (Bolivarian Republic of)       1241       2078
Viet Nam                                 1909       4588
Yemen                                     233        435
Zambia                                    137        186
Zimbabwe                                  167        262

[174 rows x 2 columns]

In [89]:
Sugar_FAO_df.drop(columns=['Area Abbreviation','Item','Element'],inplace=True)
Sugar_FAO_df.columns=['Y2000_Sugar','Y2010_Sugar']
Sugar_FAO_df.rename_axis(index={'Area': 'country'})

/Users/thomasbabjak/opt/anaconda3/envs/pythondata/lib/python3.9/site-packages/pandas/core/frame.py:4167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                                   Y2000_Sugar Y2010_Sugar
country
Afghanistan                                 66         251
Albania                                     76         130
Algeria                                    910        1158
Angola                                     134         278
Antigua and Barbuda                          2           3
...                                        ...         ...
Venezuela (Bolivarian Republic of)         922        1130
Viet Nam                                  1054         933
Yemen                                      414         653
Zambia                                     163         135
Zimbabwe                                   349         314

[174 rows x 2 columns]

In [90]:
Wheat_FAO_df.drop(columns=['Area Abbreviation','Item','Element'],inplace=True)
Wheat_FAO_df.columns=['Y2000_Wheat','Y2010_Wheat']
Wheat_FAO_df.rename_axis(index={'Area': 'country'})

/Users/thomasbabjak/opt/anaconda3/envs/pythondata/lib/python3.9/site-packages/pandas/core/frame.py:4167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                                   Y2000_Wheat Y2010_Wheat
country
Afghanistan                               2600        4605
Albania                                    534         432
Algeria                                   5716        6685
Angola                                     363         693
Antigua and Barbuda                          5           6
...                                        ...         ...
Venezuela (Bolivarian Republic of)        1186        1539
Viet Nam                                   563         945
Yemen                                     2106        2580
Zambia                                     125         106
Zimbabwe                                   221         380

[174 rows x 2 columns]

In [91]:
Fish_FAO_df.drop(columns=['Area Abbreviation','Item','Element'],inplace=True)
Fish_FAO_df.columns=['Y2000_Fish','Y2010_Fish']
Fish_FAO_df.rename_axis(index={'Area': 'country'})

/Users/thomasbabjak/opt/anaconda3/envs/pythondata/lib/python3.9/site-packages/pandas/core/frame.py:4167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                                   Y2000_Fish Y2010_Fish
country
Afghanistan                                 1          2
Albania                                    11         18
Algeria                                   122        141
Angola                                    168        316
Antigua and Barbuda                         3          5
...                                       ...        ...
Venezuela (Bolivarian Republic of)        376        280
Viet Nam                                 1611       3019
Yemen                                      86         69
Zambia                                     72         92
Zimbabwe                                   26         29

[174 rows x 2 columns]

In [92]:
Veg_FAO_df.drop(columns=['Area Abbreviation','Item','Element'],inplace=True)
Veg_FAO_df.columns=['Y2000_Veg','Y2010_Veg']
Veg_FAO_df.rename_axis(index={'Area': 'country'})

/Users/thomasbabjak/opt/anaconda3/envs/pythondata/lib/python3.9/site-packages/pandas/core/frame.py:4167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                                   Y2000_Veg Y2010_Veg
country
Afghanistan                              604       977
Albania                                  518       748
Algeria                                 2405      4983
Angola                                   279      1320
Antigua and Barbuda                        4         4
...                                      ...       ...
Venezuela (Bolivarian Republic of)      1104      1776
Viet Nam                                5824      7795
Yemen                                    545       808
Zambia                                   241       333
Zimbabwe                                 126       215

[174 rows x 2 columns]